@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Roboto:wght@300;400;500&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: rgb(75, 74, 74);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Antonio', sans-serif;
}

#game {
  display: flex;
  background-color: rgb(40, 37, 37);
}

.card {
  width: 160px;
  height: 120px;
  background-color: rgb(43, 43, 234);
  border-left: solid rgb(33, 33, 124) 10px;
  border-right: solid rgb(16, 16, 106) 10px;
  border-top: solid rgb(49, 49, 176) 10px;
  border-bottom: solid rgb(26, 26, 84) 10px;
  text-align: center;
  font-size: 3rem;
  margin: 10px;
  padding: 20px;
  line-height: 120px;
}
